.theme-widget {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;

  padding: 0.5rem;
  margin-left: auto;

  .toggle-wrapper {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;

    padding: 0.35rem;
    border-radius: 0.5rem;
  }

  .icon {
    font-size: 1.5rem;
    color: var(--primary-text-color);

    &.sun {
      color: #f1c40f;
    }

    &.moon {
      color: #f39c12;
    }
  }
}
