.theme-widget {
  display: flex;
  align-items: center;

  .toggle-wrapper {
    display: flex;
    column-gap: 0.25rem;
    align-items: center;

    padding: 0.35rem;
    border-radius: 0.5rem;

    &.dark {
      // background-color: #1a252f;
    }
  }

  .icon {
    font-size: 1.5rem;

    &.light {
      color: #fff;
    }

    &.sun {
      color: #f1c40f;
    }

    &.moon {
      color: #f39c12;
    }
  }
}
