[data-theme='DARK'] {
  --primary-brand-color: var(--primary-brand-color);

  --primary-text-color: var(--primary-light-color);

  --primary-background-color: var(--primary-dark-color);

  --primary-box-shadow: var(--primary-light-box-shadow);
}
