@use '../variables.scss' as *;

[data-theme='LIGHT'] {
  --primary-brand-color: $primary-brand-color;

  --primary-text-color: $primary-dark-color;

  --primary-background-color: $primary-light-color;

  --primary-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
