@use './scss-variables.scss' as *;

:root {
  // Brand
  --primary-brand-color: #{$primary-brand-color};

  // Colors
  --primary-dark-color: #{$primary-dark-color};
  --primary-light-color: #{$primary-light-color};

  // Misc
  --primary-dark-box-shadow: #{$primary-dark-box-shadow};
  --primary-light-box-shadow: #{$primary-light-box-shadow};
}
