// Brand
$primary-brand-color: #2563eb;

// Colors
$primary-dark-color: #1a252f;
$primary-light-color: #ffffff;

// Misc
$primary-dark-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$primary-light-box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
// $primary-light-box-shadow: 0 4px 6px rgba(112, 112, 112, 0.1);
