@use '../global-styles-and-overrides/scss-mixins.scss' as *;

$headerHeight: 60px;

.mainLayout {
  height: 100%;
  padding: clamp(1rem, 5vw + 0.5rem, 2rem);

  .header {
    display: flex;
    align-items: center;

    border-radius: 0.25rem;
    min-height: $headerHeight;
    box-shadow: var(--primary-box-shadow);
    padding-inline: clamp(1rem, 5vw + 0.5rem, 2rem);
  }
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: clamp(1rem, 5vw + 0.5rem, 2rem);

  width: 100%;
  height: calc(100% - $headerHeight);

  .title {
    font-size: clamp(3rem, 5vw + 0.5rem, 4rem);
    @include text-gradient(
      var(--primary-brand-color),
      rgb(254, 24, 24),
      var(--primary-brand-color)
    );
  }

  .subtitle {
    color: var(--primary-brand-color);
    margin-left: auto;
    font-size: clamp(2rem, 2vw, 3rem);
    margin-right: clamp(10rem, 5vw + 0.5rem, 15rem);

    &:visited {
      color: var(--primary-brand-color);
    }
  }
}
