$linkColor: #2563eb;
$headerHeight: 60px;

.mainLayout {
  height: 100%;
  padding: clamp(1rem, 5vw, 2rem);

  .header {
    display: flex;
    align-items: center;

    border-radius: 0.25rem;
    min-height: $headerHeight;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .theme-panel {
      display: flex;
      column-gap: 0.5rem;
      align-items: center;

      padding: 0.5rem;
      margin-left: auto;
      border-radius: 0.25rem;
    }
  }
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: clamp(1rem, 5vw, 2rem);

  width: 100%;
  height: calc(100% - $headerHeight);

  .title {
    color: var(--primary-text-color);
    font-size: clamp(3rem, 5vw, 4rem);
  }

  .subtitle {
    color: $linkColor;
    margin-left: auto;
    font-size: clamp(2rem, 2vw, 3rem);
    margin-right: clamp(10rem, 5vw, 15rem);

    &:visited {
      color: $linkColor;
    }
  }
}
