*,
*::before,
*::after {
  hyphens: auto;
  word-wrap: break-word;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
}

img {
  height: auto;
  max-width: 100%;
}
